
about{
    width: 98.9vw;
    font-family: 'Playfair Display', serif;
    /* background-color: silver;  */
    opacity: 0.9;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
} 

    #myBtn {
      background-color: white;
      border: 1px solid #d5d9d9;
      border-radius: 8px;
      box-shadow: rgba(500, 217, 217, .5) 0 2px 5px 0; 
      box-sizing: border-box;
      color: #0f1111;
      cursor: pointer;
      display: inline-block;
      font-family: "Amazon Ember",sans-serif;
      font-size: 13px;
      line-height: 29px;
      padding: 0 10px 0 11px;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      width: 100px;
      margin-top: -20px;
    }

    #myBtn:hover {
      background-color: #0C375A;
      color:white;
      /* opacity: 0.5; */
    }

    #myBtn:focus {
      /* border-color: #008296; */
      box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
      outline: 0;
    }
    .about_content{
        /* background-color: #12192c; */
        /* display: inline-block; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 0  12px 12px 0;
        color: #fff;
    }

    .about_content .first{
        padding-bottom: 15px;
        font-weight: 300;
        opacity: 0.7;
        width: 60%;
        text-align: center;
        margin: 0 auto;
        line-height: 1.7;
        color: black;
        /* background-color: yellowgreen;  */
    }

    .second{
        width: 60%;
        text-align: center;
        margin: 0 auto;
        line-height: 1.7;
        color: gray;
        /* opacity: 0.7; */
    }

    #more {
        display: none;
        opacity: 1.7;
    }

    .about_content h2{
        text-transform: uppercase;
        font-size: 36px;
        letter-spacing: 6px;
        opacity: 0.9;
        color:  #0C375A;
        /* background-color: yellow; */
        width: fit-content;
        
    }
    .about_content label{
        height: 0.5px;
        width: 80px;
        background: #777;
        /* margin-top: 0; */
        padding-top: 0;
        margin-bottom: 10px;
        /* margin: 20px 0; */
    }


    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    #team {
        background: #eee !important;
    }

    /* section {
        padding: 60px 0;
    } */
    .team {
        margin-top: 50px;
      }
  
      .flip-column {
        cursor: pointer;
      }
  
      .image-flip {
        perspective: 1000px;
      }
  
      .mainflip {
        transition: transform 0.5s;
        transform-style: preserve-3d;
        border-radius: 5px;
        
      }

      .team-card{
        padding: 2em 1.5em;
        background: linear-gradient(#ffffff 50%,#0C375A 50%);
        background-size: 100% 200%;
        background-position: 0 2.5%;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: 0.5s;
        margin-top: 10px;
        width: 80%;
      }
  
      .frontside,
      .backside {
        backface-visibility: hidden;
        transform: rotateY(0deg);
        
      }
  
      .backside {
        transform: rotateY(180deg);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
  
      .backside .card-body {
        height: 100%;
      }
  
      /* Flip the card on hover */
      .flip-column:hover .mainflip {
        transform: rotateY(180deg);
        margin-top: 10px !important;

      }

    @media (max-width: 450px) {
        .card-text {
            font-size: 10px !important; 
        }
    }

