
.service-card {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    max-width: 500px;
    overflow: hidden;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #0C375A 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
  }
  
  .service-card:hover {
    background-position: 0 100%;
  }
  
  .service-card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #0C375A;
  }
  
  .service-card:hover h3 {
    color: #ffffff;
  }
  
  .service-card:hover p {
    color: #f0f0f0;
  }
  
  .icon-wrapper {
    background-color: #0C375A;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }

  @media screen and (min-width: 1200px) {
    .service-card {
      height: 375px;
    }
  }

  @media (max-width: 450px) {
    .icon-wrapper {
        font-size: 15px !important; 
    }
    .services-title{
        font-size: 18px !important;
    }
    .virtual-consult-title{
        font-size: 15px !important;
        letter-spacing: 0px;
    }
}

@media (max-width: 600px) {

  .virtual-consult-title{
      font-size: 15px !important;
      letter-spacing: 0px;
  }
}


  
