h1 {
            text-align: center;
            margin: 50px 0;
        }

        h2 {
            margin-top: 50px;
        }

        table {
            border-collapse: collapse;
            margin: 0 auto;
        }

        th {
            background-color: #4CAF50;
            color: white;
            font-weight: bold;
            padding: 10px;
            text-align: left;
        }

        td {
            border: 1px solid #ddd;
            padding: 10px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }